/* ------ */
/* RESET  */
/* ------ */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

img{
    display: block;
}

/* ------ */
/* TYPE  */
/* ------ */

*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header a{
    font-size: 15px;
}

h1{
    font-size: 90px;
}

h2{
    font-size: 50px;
}




/* ------ */
/* COMMON  */
/* ------ */

 main{
    margin-top: 75px ;
    
 }

main section .big{
    margin: auto;
    max-width: 1200px;
} 

main section .small{
    margin: auto;
    max-width: 1000px;
} 


.sfondo-blu{
    background-color: #b4d0e7;
}

section{
    margin-bottom: 150px;
}


.button-primary{
    padding: 17px;
    background-color: #0061ff;
    color: white;
}


/* ------ */
/* HEADER  */
/* ------ */
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

header .menu{
    display: flex;
    align-items: center;
}

header .menu li{
    padding: 25px;
}





/* ---------- */
/* MAIN  BOX 1*/
/* ---------- */

.box-1{
    display: flex;
}

.box-1 .content-box-1{
    width: 40%;
    padding-top: 60px;
}

.box-1 img{
    width: 60%;
    padding-top: 60px;
}

.section-1{
    position: relative;
    top: 80px;
}

.content-box-1 .button-primary{
    display: inline-block;
    margin: 35px 0;
}

.content-box-1 .fa-arrow-down{
    padding-top: 50px;
}


.content-box-1 i{
    font-size: 50px;
}


/* ------ */
/* MAIN  */
/* ------ */


/* ------ */
/* RESET  */
/* ------ */


/* ------ */
/* RESET  */
/* ------ */
