/* ------ */
/* RESET  */
/* ------ */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

img{
    display: block;
}

/* ------ */
/* TYPE  */
/* ------ */

*{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header a{
    font-size: 15px;
}

h1{
    font-size: 77px;
    font-weight: 700;
}

h2{
    font-size: 40px;
    padding-bottom: 70px;
    font-weight: 600;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
}

i{
    padding-right: 7px;
}


/* ------ */
/* COMMON  */
/* ------ */

 main{
    margin-top: 75px ;
    
 }

main section .full{
    max-width: 100vw
} 

main section .big{
    margin: auto;
    max-width: 1200px;
} 

main section .small{
    margin: auto;
    max-width: 1000px;
} 


.sfondo-blu{
    background-color: #b4d0e7;
}

section{
    margin-bottom: 150px;
}


.button-primary{
    padding: 17px;
    background-color: #0061ff;
    color: white;
    text-align: center;
}

.button-secondary{
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    text-align: center;
}

/* ------ */
/* HEADER  */
/* ------ */
header nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 80px;
}

nav .menu{
    display: flex;
}



nav .menu li{
    padding: 0 40px;
    height: 80px;
    display: flex;
    align-items: center;
}

/* EFFETTI */

nav .menu li:hover{
    border-bottom: 2px solid black;
}



/* ---------- */
/* MAIN  BOX 1*/
/* ---------- */

.section-1{
    position: relative;
    top: 80px;
}

.section-1 .box-1{
    display: flex;
}

.section-1 .box-1 .content-box-1{
    width: 40%;
    padding-top: 60px;
}

.section-1 .box-1 img{
    width: 60%;
    padding-top: 60px;
}

.section-1 .content-box-1 .button-primary{
    display: inline-block;
    margin: 35px 0;
}

.section-1 .content-box-1 .fa-arrow-down{
    padding-top: 35px;
}


.section-1 .content-box-1 i{
    font-size: 50px;
}


/* --------- */
/* MAIN BOX 2*/
/* --------- */

.section-2 .box-1{
    padding-bottom: 50px ;}


.section-2 .box-1 label{
    padding-left: 3px;
    padding-right: 70px;
}

.section-2 .piano{
    margin: 20px;
    width: calc(33% - 37px);
    border: 1px solid black;
    
}

.section-2 .finale{
    width: 100%;
    border: 1px solid black;
}


.section-2 .nome-piano{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid black;

}

.section-2 .piano .contenuto-box{
    margin: 25px;
    
}

.section-2 .price{
    padding-bottom: 30px;

}

.section-2 .price h3{
    font-size: 24px;
}

.section-2 .price .price-euro{
    padding: 10px 0;
}

.section-2 .info-piano li{
    padding-bottom: 20px ;
    display: flex;
}


.section-2 .button-primary{
    margin: 30px 0 10px 0;
}

.section-2 hr{
    margin: 30px 0 50px 0;
}

.section-2 .check i{
    color: blue;
}
.section-2 .important{
    font-weight: bold;
    padding-bottom: 30px;
}

.section-2 .box-2{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

}

.section-2 .box-2 .big{
    flex-grow: 1;
    position: relative;
}

.section-2 .box-2 .info-aziende{
    margin-right: 350px;
}

.section-2 .big .button-primary{
    position: absolute;
    top: 30px;
    right: 20px;
}
/* ----------- */
/* MAIN BOX 3  */
/* ----------- */

.section-3{
    display: flex;
    gap: 50px;

}

.section-3 .content{
    width: 40%;
    padding-top: 35px;
}

.section-3 img{
    width: 60%;
}

.section-3 .content p{
    padding: 25px 0;
}
.section-3 .content .button-secondary{
    display: inline-block;
}
/* ----------- */
/* MAIN BOX 4  */
/* ----------- */
.section-4 .container{
    display: flex;
    flex-wrap: wrap;

}

.section-4 .container div{
    width: calc(33% - 22px);
    margin: 0 25px 30px 0;
}

.section-4 .container img{
    width: 100%;
}

.section-4 .container p{
    padding-top: 18px;
}

/* ----------- */
/* MAIN BOX 5  */
/* ----------- */
.section-5 h2{
    width: 60%;
}

.section-5 a{
    color: blue;
    text-decoration: underline;
}

/* ----------- */
/* MAIN BOX 6  */
/* ----------- */

.section-6{
    display: flex;
}

.section-6 .box-container,.content{
    width: calc(100vw/3);
    height: calc(100vw/3);
}

.section-6 .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.section-6 .foto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.section-6 img{
    width: 50%;
    
}
